<h1 class="photo-name">
  <%=@photo['name']%>
</h1>
<img class="photo-image" src="<%=@photo['image_url']%>"/>
<p class="photo-description">
  <%=@photo['description']%>
</p>
<div class='photo-likes'>
  <%=@photo['votes_count']%> others like this.
</div>
<% if logged_in? %>
  <% if @current_user.connected_to_500px? %>
    <%= link_to 'I like this!', photo_path(@photo['id']), {method: 'patch', class: 'btn btn-like'}%>
  <% else %>
    Want to 'Like' this photo yourself?
    <%= link_to 'Connect to your 500px account now!', connect_path, {class: 'btn btn-like'}%>
  <% end %>
<% else %>
  <%=link_to 'Log In to like this photo', login_path, {class: 'btn btn-like'}%>
<% end %>
