<!DOCTYPE html>
<html>
<head>
  <title>PrettyPictures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h2><%= link_to 'Pretty Pictures', home_path, class: "logo" %></h2>
  <h3>The top 100 Pictures on 500px</h3>

  <%= link_to 'Log in', login_path, class: "button button-login-signup" %>
  <%= link_to 'Sign Up', signup_path, class: "button button-login-signup" %>
</header>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
